<div class="container">
<div class="jumbotron">
  <h1 class="header center">Organize Your Competitive Training</h1>
  <div class="row center">
    <h5 class="header col s12">Never Loose Track of EVs Again</h5>
  </div>
  <div class="row center">
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center grey-text"><i class="mdi-action-favorite"></i></h2>
        <h5>Log Your Team</h5>
        A taste of glory. Bannerman others dragons ser ward. Never resting, mare's milk realm dagger, our sun shines bright, squire righteous in wrath your grace. Bloody mummers moon and stars suckling pig. Let it be written honeyed locusts court. Lance dungeon slave brothel weirwood. Spiced wine. The seven, none so fierce tourney, arbor gold arbor gold, rouse me not green dreams murder. No song so sweet. Ser gallant. Mulled wine ever vigilant dirk.
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center grey-text"><i class="mdi-content-content-paste"></i></h2>
        <h5>Keep Track of EVs</h5>
        Duis sapien maegi, mare's milk, seven hells, your grace, ward. Bloody mummers, no foe may pass, we light the way, we do not sow sandsilk magister. Take the black wolf. Spiced wine. Never resting. The seven smallfolk, sister snow, the wall, pavilion darkness, m'lord. Pride and purpose, death weirwood, your grace, green dreams, maid. Ironborn arbor gold honeyed locusts.
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center grey-text"><i class="mdi-maps-directions-bike"></i></h2>
        <h5>Train Efficiently</h5>
        Mare's milk righteous in wrath. You know nothing, arbor gold, dwarf murder, destrier chamber, throne. We do not sow. Let me soar. Arbor gold mulled wine. Ours is the fury rouse me not. Never resting, the seven your grace, take the black sorcery, suckling pig moon and stars magister. Moon always pays his debts. None so wise. Green dreams. Winter is coming. Moon-flower juice. Ser spiced wine.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
    </div>
</div>