<h1>Species Page</h1>
<label>Browser Select</label>
<select class="browser-default">
  <option value="" disabled selected>Choose your option</option>
  <%= options_for_select(@parsed_array) %>
</select>