body {
  background: image-url("pikachu_bg_opacity.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#footer {
  background-color: #101010;
  opacity: .8;
  color: white;
  z-index: 10000;
  margin-top: 20px;
  height: 50px;
}

.footer_text {
  font-size: 14px;
  text-align: center;
}

.footer_height {
  min-height: 85vh;
}

.brand-logo {
  margin-left: 10px;
}

.team_member_index {
  background: rgba(255, 255, 255, .5);
  padding: 0px 20px 20px 20px !important;
}

.display_image {
  border-radius: 50%;
}

h2 {
  font-size: 2.75rem !important;
}

h3 {
  font-size: 2rem !important;
}

.stats dt {
  display: inline-block;
}

.stats dd {
  display: inline-block;
  border-right: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

.evs dd {
  display: inline;
  margin-left: 0px;
}

.evs form {
  display: inline;
}

.stats_h5 {
  font-size: 1.25rem;
}

li {
  list-style-type: none !important;
}

select {
  display: block !important;
}
