<nav>
  <div class="nav-wrapper blue-grey darken-4 logo">
    <%= link_to "PokemonTracker", root_path, class: "brand-logo" %>
    <ul id="nav-mobile" class="right">
        <li><%= link_to "My Team", "#" %></li>
    </ul>
  </div>
 </nav>